<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="/css/flash.css">
</head>
<body>
    <% if (success && success.length > 0) { %>
        <div class="flash success fade-in">
          <span class="close-btn" onclick="this.parentElement.classList.add('fade-out'); setTimeout(() => this.parentElement.remove(), 500);">×</span>
          <%= success %>
        </div>
      <% } %>
      
      <% if (error && error.length > 0) { %>
        <div class="flash error fade-in">
          <span class="close-btn" onclick="this.parentElement.classList.add('fade-out'); setTimeout(() => this.parentElement.remove(), 500);">×</span>
          <%= error %>
        </div>
      <% } %>
      
      
    <img src="img/error_for_404.svg" alt="404 Error">
    <h1>404 - Page Not Found</h1>
    <p><%= err_msg %></p>
    <script src="/js/flashUpdate.js"></script>
</body>
</html>