<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In - Peddit</title>

    <script>
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
        }
    </script>
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- draw_header() %>

    <% if (success && success.length > 0) { %>
        <div class="flash success fade-in">
            <span class="close-btn" onclick="this.parentElement.classList.add('fade-out'); setTimeout(() => this.parentElement.remove(), 500);">×</span>
            <%= success %>
        </div>
    <% } %>

    <% if (error && error.length > 0) { %>
        <div class="flash error fade-in">
            <span class="close-btn" onclick="this.parentElement.classList.add('fade-out'); setTimeout(() => this.parentElement.remove(), 500);">×</span>
            <%= error %>
        </div>
    <% } %>

    <h2>Sign up to Peddit</h2>

    <div class="typewriter-container">
        <div id="typewriter">
            <span id="static">The Perfect Place for&nbsp;</span><span id="dynamic"></span><span id="cursor">|</span>
        </div>
    </div>

    <main>
        <h2>Log In</h2>
        <form action="/users/login" method="POST" class="signup-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>


            <button type="submit">Log In </button>
        </form>
        <p>Don't have an account? <a href="/users/signup">Sign up</a></p>
    </main>

    <script src="/js/darkMode.js"></script>
    <script src="/js/flashUpdate.js"></script>
    <script src="/js/type.js"></script>

</body>
</html>
