<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peddit - Post</title>
    <link rel="stylesheet" href="send_form_style.css">
</head>
<body>
    <div class="navbar">
        <img src="img/peddit_logo.png" alt="peddit_logo" id="logo">
    </div>
    <div class="make_a_post">
        <h2>Post</h2>
        <form action="./posts" method="post">
            <input type="text" name="username" placeholder="Please enter your username"><br>
            <input type="text" name="title" placeholder="Please enter the title of your post"><br>
            <textarea name="content" placeholder="write your post"></textarea><br>
            <button>Post Now!</button>
        </form>
    </div>
</body>
</html>