<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peddit - Post</title>
    <link rel="stylesheet" href="/css/send_form.css">
</head>

<body>
    <%- draw_header() %>

        <div class="make_a_post">
            <h2>Post</h2>
            <form action="./posts" method="post">
                <input type="text" name="Post[username]" placeholder="Please enter your username"><br>
                <input type="text" name="Post[title]" placeholder="Please enter the title of your post"><br>

                <div class="toolbar">
                    <button type="button" onclick="formatText('bold')"><b>B</b></button>
                    <button type="button" onclick="formatText('italic')"><i>I</i></button>
                    <button type="button" onclick="formatText('underline')"><u>U</u></button>
                </div>

                <div class="editor-container">
                    <div id="placeholder" class="placeholder">Write your post...</div>
                    <div id="editor" class="editor" contenteditable="true"></div>
                </div>

                <!-- Hidden textarea to store formatted content -->
                <textarea id="hidden-textarea" name="Post[content]" class="hidden-textarea"></textarea>

                <button type="submit">Post Now!</button>
            </form>
        </div>
        <script src="/js/darkMode.js"></script>

        <script src="/js/textUpdate.js"></script>

</body>

</html>