body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.post-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#logo {
    width: 200px;
    margin: 30px;
}

.navbar {
    width: 100%;
    background-color: rgba(0, 208, 255, 0.432);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    width: 100vw;


}